/**
 * @file
 * Styling for the reservation module icons.
 */

/**
 * Toolbar tab icon.
 */
.toolbar-bar .toolbar-icon-reservation-admin:before {
  background-image: url(../icons/reservation.svg);
}

.toolbar-bar .toolbar-icon-reservation-admin:active:before,
.toolbar-bar .toolbar-icon-reservation-admin.is-active:before {
  background-image: url(../icons/reservation.svg);
}
