/**
 * @file
 * Webform reservation personne styles.
 */

.webform_reservation_personne_multiple-table--first_name {
}

.webform_reservation_personne_multiple-table--last_name {
}

.webform_reservation_personne_multiple-table--postcode {
}

.webform_reservation_personne_multiple-table--phone {
  min-width: 15em;
}

.webform_reservation_personne_multiple-table--email {
}
