<p>Pour valider votre réservation, il vous faut déposer une caution.</p>
<p>Montant de : {{- caution -}} €</p>
<p>Cliquez sur le mode de caution :</p>

<table>
  <tr>
    {% if form_cheque %}
      <td>
        {{- form_cheque -}}
      </td>
    {% endif %}
    {% if form_bancaire %}
      <td>
        {{- form_bancaire -}}
      </td>
    {% endif %}
  </tr>
</table>



