<table>
  {% for key, ressource in ressources %}
    <tr>
      <td>
        {{- ressource -}}
      </td>
      <td>
        <a href="{{ path('entity.node.canonical', {'node': key  }) }}">Créer</a>
      </td>
    </tr>
  {% endfor %}
</table>



