{% if form_select %}
  {{ form_select }}
{% endif %}

{% if form_statut %}
  {{ form_statut }}
{% endif %}

{% if form_filter %}
  {{ form_filter }}
{% endif %}

{% if tabs %}
<nav class="tabs" role="navigation" aria-label="Tabs">
  <h2 id="primary-tabs-title" class="visually-hidden">Primary tabs</h2>
  <nav role="navigation" class="is-horizontal is-collapsible" aria-labelledby="primary-tabs-title" data-drupal-nav-tabs>
    <button class="reset-appearance tabs__tab tabs__trigger" aria-label="Primary tabs display toggle"
            data-drupal-nav-tabs-trigger>&bull;&bull;&bull;
    </button>
    <ul class="tabs primary clearfix" data-drupal-nav-tabs-target>
      {% for tab in tabs %}
        <li class="tabs__tab {{ tab.active ? 'is-active' }}">
          <a href="/admin/reservation/parametre/notification/{{ nid }}/{{ tab.key }}"
             data-drupal-link-system-path="/admin/reservation/parametre/notification/{{ nid }}/{{ tab.key }}">
            {{ tab.title }}
            <span class="visually-hidden">(active tab)</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

  {% if form_email %}
    {{ form_email }}
  {% endif %}





